/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #c7a0e8;
  --bg-light: #f6e6ff;
  --accent-pink: #ffb6c1;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: var(--text-color);
  background-color: var(--bg-light);
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-pink);
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
  padding-left: 0;
}
li:before {
  content: "★";
  color: var(--theme-color);
  margin-right: 0.3em;
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f0ff;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
